model_zoo/*.pt
val2017
_djscc/ckpt
results
password.txt
*.pt
ofdm_tdl_10dB
testsets
results_retrans_hard
results_retrans_pixel
results_retrans
results_retrans_semantic
results_retrans_comparison
results*
results/*
FFHQ0-1000
ffhq-text-images
configs/diffcom_*.yaml